.listas{
  font-family: arial;
  font-size: 1.2em;
  line-height: 2.1em;
}
.info{
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li::marker{
  font-size: 0.8em;
  color: #112d4e;
}