* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Century Gothic', sans-serif;
}

/*.logo{
  float: left;
  padding: 20px 0;
}

.logo img{
  height: 150px;
}*/

header {
  width: 100%;
  padding: 40px;
  color: white;
  background: #112d4e;
}

nav ul {
  background: #164884;
  text-align: center;
  list-style: none;
  overflow: hidden;

}

ul li {
  display: inline-block;
  padding: 20px;
  transition: all ease-in-out 250ms;
}

ul li:hover {
  background: #112d4e;
  
}

ul li a {
  color: white;
}

.hide {
  padding: 16px;
  font-size: 22px;
  background: #112d4e;
  color: white;
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  ul li {
    width: 100%;
    padding: 15px;
    text-align: left;
  }

  .hide {
    display: block;
  }

  nav ul {
  display: none;

  }
}
/*---------------------------------------Texto----------------------------------------*/
div .titulo{
  text-align: center;
  margin-top: 40px;
}

p{
  text-align: justify;
  font-family: arial;
  font-size: 1em;
  line-height: 2.1em;
}

div img{
  display: block;
  margin: 0px auto;
}

/*---------------------------------------Pies de página----------------------------------------*/
footer {
  width: 100%;
  padding: 40px;
  color: white;
  background: #112d4e;
}
footer i{
  font-size: 35px;
  margin-left: 25px;
  color: #FFF;
}
/*---------------------------------------Botón de Whatsapp----------------------------------------*/

.btn-wsp{
  position:fixed;
  width:60px;
  height:60px;
  line-height: 63px;
  bottom:25px;
  right:25px;
  background:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:35px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
  z-index:100;
  transition: all 300ms ease;
}
.btn-wsp:hover{
  background: #13aa4d;
  color: #FFF;
}
@media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 66px;
  }
}